.secondary{
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  width: 50vw;
  height: 40vh;
}
.top{
  display: flex;
  flex-direction: row;
}
.left-blk{
  display: flex;
  flex-direction: column;
  width: 40vw;
  font-size: medium;
}
.left-blk >h2{
  margin-bottom: 1rem;
  margin-top: -1rem;
}
.right-blk{
  display: flex;
  justify-content: center;
  
}
.right-img{
  margin-top: 10vh;
  height: 57vh;
  margin-left: 30px;
  width: 30vw;
}
.first{
  display: flex;
  justify-content: center;
  text-align: justify;
  margin-top: -1rem;
}
.second{
  text-align: justify;
  width: 50vw;
  right: 50vw;
}