.App {
  text-align: center;
}

.column {
  display: flex;
  justify-content: center;
}

.image-column {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.moving-image {
  width: 200px; /* Adjust the initial width as needed */
  height: 200px; /* Adjust the initial height as needed */
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.moveRight {
  animation-name: moveRight;
}

.moveLeft {
  animation-name: moveLeft;
}

@keyframes moveRight {
  0% {
    transform: translate(0, 100%) scale(1);
  }
  100% {
    transform: translate(10vw, 50%) scale(0.5);
  }
}

@keyframes moveLeft {
  0% {
    transform: translate(0, -100%) scale(0.5);
  }
  100% {
    transform: translate(50vw, 50%) scale(0.5);
  }
}
